#Options All -Indexes

#Errores
ErrorDocument 403 /VsArena/FrontEnd/404.php
ErrorDocument 404 /VsArena/FrontEnd/404.php

#Enlaces amigables Dashboard
Options +FollowSymLinks
RewriteEngine on


RewriteRule ^panel/$ Dashboard/index.php
RewriteRule ^panel/([0-9]+)/$ Dashboard/index.php?err=$1
RewriteRule ^panel/cupon/([0-9]+)/$ Dashboard/templates/cupon.php?id=$1
RewriteRule ^panel/equipo/([0-9]+)/$ Dashboard/templates/equipo.php?id=$1
RewriteRule ^panel/grupo/([0-9]+)/$ Dashboard/templates/grupo.php?id=$1
RewriteRule ^panel/juego/([0-9]+)/$ Dashboard/templates/juego.php?id=$1
RewriteRule ^panel/juegos/$ Dashboard/templates/juegos.php
RewriteRule ^panel/noticia/([0-9]+)/$ Dashboard/templates/noticia.php?id=$1
RewriteRule ^panel/noticias/$ Dashboard/templates/noticias.php
RewriteRule ^panel/premio/([0-9]+)/$ Dashboard/templates/premio.php?id=$1
RewriteRule ^panel/producto/([0-9]+)/$ Dashboard/templates/producto.php?id=$1
RewriteRule ^registro$ Dashboard/templates/register.php
RewriteRule ^panel/rondas/([0-9]+)/$ Dashboard/templates/rondas.php?id=$1
RewriteRule ^panel/tag/([0-9]+)/$ Dashboard/templates/tag.php?id=$1
RewriteRule ^panel/tienda/$ Dashboard/templates/tienda.php
RewriteRule ^panel/torneo/([0-9]+)/$ Dashboard/templates/torneo.php?id=$1
RewriteRule ^panel/torneos/$ Dashboard/templates/torneos.php
RewriteRule ^panel/usuario/([0-9]+)/$ Dashboard/templates/usuario.php?id=$1
RewriteRule ^panel/usuarios/$ Dashboard/templates/usuarios.php
RewriteRule ^panel/venta-compra/([0-9]+)/$ /VsArena/Dashboard/templates/venta-compra.php?id=$1

#Enlaces amigables FrontEnd

RewriteRule ^404$ FrontEnd/404.php
RewriteRule ^articulo/([0-9]+)/$ FrontEnd/articulo_tda.php?noticia=$1
RewriteRule ^batallas$ FrontEnd/batallas.php
RewriteRule ^buscar$ FrontEnd/buscar.php
RewriteRule ^buscar/(.*)/$ FrontEnd/buscar.php?tag=$1
RewriteRule ^torneos$ FrontEnd/campeonatos_activos.php
RewriteRule ^carrito$ FrontEnd/carrito.php
RewriteRule ^carrito_checkout$ FrontEnd/carrito_checkout.php
RewriteRule ^contacto$ FrontEnd/contacto.php
RewriteRule ^donacion$ FrontEnd/donacion.php
RewriteRule ^enfrentamiento_cpa$ FrontEnd/enfrentamiento_cpa.php
RewriteRule ^equipo$ FrontEnd/equipo.php
RewriteRule ^$ FrontEnd/index.php
RewriteRule ^/$ FrontEnd/index.php
RewriteRule ^home$ FrontEnd/index.php
#RewriteRule ^login$ FrontEnd/login.php
RewriteRule ^mantenimiento$ FrontEnd/mantenimiento.php
RewriteRule ^nosotros$ FrontEnd/nosotros.php
RewriteRule ^noticias$ FrontEnd/noticias_blg.php
RewriteRule ^noticiasTags/([0-9]+)/$ FrontEnd/noticiasTags.php?tag=$1
RewriteRule ^perfil$ FrontEnd/perfil.php
RewriteRule ^perfil_cpto$ FrontEnd/perfil_cpto.php
RewriteRule ^premios$ FrontEnd/premios.php
RewriteRule ^producto_tda$ FrontEnd/producto_tda.php
RewriteRule ^prox_enfrent_cpa$ FrontEnd/prox_enfrent_cpa.php
RewriteRule ^proximamente$ FrontEnd/proximamente.php
#RewriteRule ^registro$ FrontEnd/registro.php
RewriteRule ^resultados_cpto$ FrontEnd/resultados_cpto.php
RewriteRule ^tienda$ FrontEnd/tienda.php
RewriteRule ^torneo_llaves$ FrontEnd/torneo_llaves.php
